<div class="row">
    <div class="col-left" style="align-items: center; display: flex;">
    </div>
    <div class="col-right" style="align-items: center; display: flex;" *ngIf="toDate">
        <div class="col-md-1" style="text-align: center;">
            <label for="fromDate" style="margin: 0;">Từ: </label>
        </div>
        <div class="col-md-2">
            <input type="date" class="dateFilter" id="fromDate" min="01-01-1970" max="{{toDate | date:'dd-MM-yyyy'}}" required value={{fromDate}} />
        </div>
        <div class="col-md-1" style="text-align: center;">
            <label for="toDate" style="margin: 0;">Đến: </label>
        </div>
        <div class="col-md-2">
            <input type="date" class="dateFilter" id="toDate" min="01-01-1970" max="{{toDate | date:'dd-MM-yyyy'}}" required value={{toDate}} />
        </div>
        <div class="col-md-6" style="display: flex;">
            <button class="btn btn-info btn-function" (click)=resetDate()>
        Tất cả
        <i class="mdi mdi-check-all"></i>
      </button>
            <button class="btn btn-success btn-function" (click)=filterData()>
        Lọc
        <i class="mdi mdi-filter"></i>
      </button>
            <button class="btn btn-primary btn-function" (click)=printPage()>
        In
        <i class="mdi mdi-printer"></i>
      </button>
        </div>
    </div>
</div>
<!-- <div class="col-md-3" style="align-items: center; display: flex;">
    <div>
      <button class="btn btn-info" (click)=resetDate()>
        Lấy tất cả
        <i class="mdi mdi-check-all"></i>
      </button>
      <button class="btn btn-success" (click)=filterData()>
        Lọc
        <i class="mdi mdi-filter"></i>
      </button>
      <button class="btn btn-primary" (click)=printPage()>
        In báo cáo
        <i class="mdi mdi-printer"></i>
      </button>
    </div>
  </div>
</div> -->
<div class="row" style="height: 20px;">
</div>
<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-account-circle text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Tổng nhân viên</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{ReportCounting ? ReportCounting.employeesCount : 0}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-3" aria-hidden="true"></i> Đang hoạt động
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-checkbox-marked text-success icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right" id="GEmp">Nhân viên đạt chuẩn</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">
                                        {{ReportCounting ? ReportCounting.goodEmployeesCount : 0}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-1" aria-hidden="true"></i>Đạt 4-5 sao
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-minus-box text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right" id="BEmp">Nhân viên chưa đạt</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">
                                        {{ReportCounting ? ReportCounting.badEmployeesCount: 0}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-1" aria-hidden="true"></i>Đạt 1-2 sao
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-chart-histogram text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Tổng số đánh giá</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{ReportCounting ? ReportCounting.rateCount:0}}</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-1" aria-hidden="true"></i>Tất cả đánh giá
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-check text-success icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right" id="GRate">Đánh giá hài lòng</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{ReportCounting ? ReportCounting.rateGoodCount : 0}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-1" aria-hidden="true"></i> Đánh giá 10 điểm
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-close text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right" id="BRate">Đánh giá chưa hài lòng</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">{{ReportCounting ? ReportCounting.rateBadCount: 0}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-star mr-1" aria-hidden="true"></i> Đánh giá 0 điểm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <employee-chart [data]="empData"></employee-chart>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card" style="align-items: center; display: inline;">
        <rate-chart [data]="rateData" [subTitle]="subTitle"></rate-chart>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card" style="align-items: center; display: inline;">
        <reason-chart [data]="reasonData" [subTitle]="subTitle"></reason-chart>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách đánh giá tiêu biểu</h4>
                <div class="table-responsive .table-dark">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <!-- SchemeID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <!-- SchemeName Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="departmentName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lĩnh vực </th>
                            <td mat-cell *matCellDef="let element"> {{element.fieldName}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="positionName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Chức vụ </th>
              <td mat-cell *matCellDef="let element"> {{element.positionName}} </td>
            </ng-container> -->
                        <ng-container matColumnDef="rateStar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đánh giá </th>
                            <td mat-cell *matCellDef="let element">
                                <ngb-rating [(rate)]="element.rateStar" [readonly]="true" max="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                        </span>
                                    </ng-template>
                                </ngb-rating>
                            </td>
                        </ng-container>
                        <!-- Status Column -->
                        <ng-container matColumnDef="ratedCount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng lượt đánh giá </th>
                            <td mat-cell *matCellDef="let element"> {{element.ratedCount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="goodRate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đánh giá tốt </th>
                            <td mat-cell *matCellDef="let element"> {{element.goodRate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="badRate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đánh giá xấu </th>
                            <td mat-cell *matCellDef="let element"> {{element.badRate}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row.id, row.name)" [ngClass]="{'highlight': lastChoosenID == row.id}"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>