<div class="row">
    <div class="col-12">
        <h1 class="title">BÁO CÁO CHẤT LƯỢNG CÁN BỘ VIÊN CHỨC</h1>
        <h2 class="timeperiod">Thời gian: Từ {{dateFilter.FromDate | date:'dd-MM-yyyy'}} đến {{dateFilter.ToDate | date:'dd-MM-yyyy'}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="headers">1. Chất lượng nhân viên</p>
    </div>
    <div class="col-6">
        <table mat-table [dataSource]="empData" class="emp-table">
            <ng-container matColumnDef="field">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Loại nhân viên </th>
                <td mat-cell *matCellDef="let element"> {{element.field}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> Tổng </td>
            </ng-container>
            <ng-container matColumnDef="count">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Số nhân viên </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> {{employeeCount}} </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th class="table-headers" mat-header-cell *matHeaderCellDef style="padding-right: 0px;"> Tỉ lệ </th>
                <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> 100% </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTable1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsTable1"></tr>
        </table>
    </div>
    <div class="col-6">
        <employee-chart-print [data]="empData"></employee-chart-print>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="headers">2. Tỉ lệ đánh giá</p>
    </div>
    <div class="col-6">
        <table mat-table [dataSource]="rateData" class="rate-table">
            <ng-container matColumnDef="field">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Loại đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{element.field}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> Tổng </td>
            </ng-container>
            <ng-container matColumnDef="count">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Số lượt đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> {{rateCount}} </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th class="table-headers" mat-header-cell *matHeaderCellDef style="padding-right: 0px;"> Tỉ lệ </th>
                <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> 100% </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTable1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsTable1"></tr>
        </table>
    </div>
    <div class="col-6">
        <rate-chart-print [data]="rateData"></rate-chart-print>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="headers">3. Tỉ lệ lí do</p>
    </div>
    <div class="col-6">
        <table mat-table [dataSource]="reasonData" class="reason-table">
            <ng-container matColumnDef="field">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Lí do </th>
                <td mat-cell *matCellDef="let element"> {{element.field}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> Tổng </td>
            </ng-container>
            <ng-container matColumnDef="count">
                <th class="table-headers" mat-header-cell *matHeaderCellDef> Số lượt đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> {{totalReasonCount}} </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th class="table-headers" mat-header-cell *matHeaderCellDef style="padding-right: 0px;"> Tỉ lệ </th>
                <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
                <td class="table-footers" mat-footer-cell *matFooterCellDef> 100% </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTable1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsTable1"></tr>
        </table>
    </div>
    <div class="col-6">
        <reason-chart-print [data]="reasonData"></reason-chart-print>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="headers">4. Thống kê nhân viên</p>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive .table-dark">
                    <table mat-table [dataSource]="employeeReportTable" class="report-table">
                        <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
                            <th class="table-headers" mat-header-cell *matHeaderCellDef>{{column.label}}</th>
                            <td mat-cell *matCellDef="let element"> {{element[column.value]}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTable2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTable2;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="headers">5. Thống kê đánh giá</p>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive .table-dark">
                    <table mat-table [dataSource]="rateList" class="rate-list">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef width="10%" class="table-headers"> Mã </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="employeeName">
                            <th mat-header-cell *matHeaderCellDef width="30%" class="table-headers"> Tên nhân viên </th>
                            <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef width="20%" class="table-headers"> Loại đánh giá </th>
                            <td mat-cell *matCellDef="let element"> {{qualify(element.score)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef width="25%" class="table-headers"> Người gửi </th>
                            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sendDate">
                            <th mat-header-cell *matHeaderCellDef width="30%" class="table-headers"> Ngày gửi </th>
                            <td mat-cell *matCellDef="let element"> {{element.sendDate | date: 'dd/MM/yyyy hh:mm'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTable3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTable3;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>