@import '../../styles.scss';
html * {
    font-family: 'Times New Roman', Times, serif;
}

.row {
    align-items: center;
    display: flex;
}

h1,
h2 {
    text-align: center;
}

.title {
    font-size: 30px;
}

.timeperiod {
    font-size: 24px;
}

.headers {
    font-size: 24px;
}

.emp-table,
.rate-table,
.reason-table {
    width: 400px;
    text-align: center;
    border: solid;
    margin: auto;
    padding: auto;
}

.report-table,
.rate-list {
    text-align: center;
    border: solid;
    margin: auto;
    padding: auto;
}

.table-headers,
.table-footers {
    //font-weight: bold;
    text-align: center;
}

th,
td {
    border: solid;
    border-color: black !important;
    padding: 0px !important;
}