<div class="content">
    <div class="title">
        <h2 mat-dialog-title>THÔNG TIN TÀI KHOẢN</h2>
    </div>
    <div class="row" style="padding-top: 24px;">
        <mat-dialog-content class="text" *ngIf="Information">
            <table>
                <tr>
                    <td class="row-header">Tên đăng nhập:</td>
                    <td>{{Information.username}}</td>
                </tr>
                <tr>
                    <td class="row-header">Họ và tên:</td>
                    <td>{{Information.name}}</td>
                </tr>
                <tr>
                    <td class="row-header">Giới tính:</td>
                    <td>{{Information.sex}}</td>
                </tr>
                <tr>
                    <td class="row-header">Lĩnh vực:</td>
                    <td>{{Information.field}}</td>
                </tr>
                <tr>
                    <td class="row-header">Chức vụ:</td>
                    <td>{{Information.position}}</td>
                </tr>
                <tr>
                    <td class="row-header">Ảnh đại diện:</td>
                    <td>
                        <img [src]="Information.avatarLink" style='height: 25%; width: 25%;'>
                    </td>
                </tr>
            </table>
        </mat-dialog-content>
    </div>
    <div class="row">
        <mat-dialog-actions *ngIf="Information">
            <button mat-raised-button [routerLink]="['/Employees/Edit', Information.id]" [mat-dialog-close]="true" color="accent">Sửa</button>
            <button mat-raised-button [mat-dialog-close]="true" color="primary">Đóng</button>
        </mat-dialog-actions>
    </div>
</div>