h2{
    text-align: center;
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
}
.row{
    display: block;
    margin: 0 auto;
}
.row-header{
    width: 200px;
}
.title{
    width: 60%;
    border: 2px solid #000;
    border-radius: 15px;
    height: 12%;
    display: flex;
    align-items: center;
    margin:0 auto;
}
table{
    font-weight: 600;
}
mat-dialog-actions{
    padding: 0;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: url('https://irate_vnpt.vnptbinhphuoc.vn/background.jpg');
}
* {
    font-size: 100%;
    font-family: Helvetica;
   }