<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row wrapper">
    <div class="text-center navbar-brand-wrapper align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
            <!-- <img src="assets/images/logo.svg" alt="logo" /> -->
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
            <!-- <img src="assets/images/logo.svg" alt="logo" /> -->
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <p class="title">Phần mềm đánh giá CBCVC - VNPT iRate</p>
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            <!-- <li class="nav-item">
        <a href="#" class="nav-link">Schedule
          <span class="badge badge-primary ml-1">New</span>
        </a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link">
          <i class="mdi mdi-elevation-rise"></i>Reports</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
      </li> -->
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown" ngbDropdown>
                <!-- <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" ngbDropdownToggle>
          <i class="mdi mdi-file-document-box"></i>
          <span class="count">7</span>
        </a> -->
                <!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="messageDropdown">
          <div class="dropdown-item">
            <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
            </p>
            <span class="badge badge-info badge-pill float-right">View all</span>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-medium">David Grey
                <span class="float-right font-weight-light small-text">1 Minutes ago</span>
              </h6>
              <p class="font-weight-light small-text">
                The meeting is cancelled
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-medium">Tim Cook
                <span class="float-right font-weight-light small-text">15 Minutes ago</span>
              </h6>
              <p class="font-weight-light small-text">
                New product launch
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-medium"> Johnson
                <span class="float-right font-weight-light small-text">18 Minutes ago</span>
              </h6>
              <p class="font-weight-light small-text">
                Upcoming board meeting
              </p>
            </div>
          </a>
        </div> -->
            </li>
            <li class="nav-item dropdown" ngbDropdown (openChange)="toggled($event)">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle>
                    <i class="mdi mdi mdi-bell"></i>
                    <span class="count">{{unreadRateCount}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-left navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="notificationDropdown" id="notificationPanel">
                    <a class="dropdown-item">
                        <p class="mb-0 font-weight-normal float-left">Có {{unreadRateCount}} báo cáo xấu mới
                        </p>
                        <!-- <span class="badge badge-pill badge-warning float-right">Đã xem hết</span> -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <div id="flexNotificationBox" style="max-height: 300px; overflow-y: auto;" [routerLink]="['/Rate/All']">
                    </div>
                    <!-- <a class="dropdown-item preview-item">
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium">New user registration</h6>
              <p class="font-weight-light small-text">
                2 days ago
              </p>
            </div> 
          </a> -->
                </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
                <span class="profile-text">Xin chào! {{displayName}} </span>
                <img id="avatar-nav-bar" class="img-xs rounded-circle" src="assets/images/faces/face1.jpg" alt="Ảnh đại diện">
                <!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
          <a class="dropdown-item p-0">
            <div class="d-flex border-bottom">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          </a>
          <a class="dropdown-item mt-2">
            Manage Accounts
          </a>
          <a class="dropdown-item">
            Change Password
          </a>
          <a class="dropdown-item">
            Check Inbox
          </a>
          <a class="dropdown-item">
            Sign Out
          </a>
        </div> -->
            </li>
        </ul>
        <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button> -->
    </div>
</nav>