<!--The content below is only a placeholder and can be replaced.-->
<div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper" style="padding-right: 0px;padding-left: 0px;">
        <app-sidebar></app-sidebar>
        <div class="main-panel" style="margin-left: 255px;">
            <div class=" content-wrapper ">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>