<div class="row">
    <div class="col-md-4">
        <h4>Danh sách đánh giá</h4>
        <hr>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-5" style="display: flex; align-items: center;">
        <button class="btn btn-info btn-function" (click)=resetDate()>
Tất cả
<i class="mdi mdi-check-all"></i>
</button>
        <button class="btn btn-success btn-function" (click)=filterData()>
Lọc
<i class="mdi mdi-filter"></i>
</button>
        <button class="btn btn-primary btn-function" (click)="exporter.exportTable('xlsx', {fileName : 'Danh sách đánh giá.xlsx'})">
In
<i class="mdi mdi-printer"></i>
</button>
    </div>
</div>
<div class="row">
    <div class="example-header col-md-12" style="display: flex; align-items: center;">
        <div class="col-left">
            <mat-form-field class="col-md-12">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm đánh giá">
            </mat-form-field>
        </div>
        <div class="col-mid"></div>
        <div class="col-right" style="display: flex; align-items: center;" *ngIf="toDate">
            <div class="filter col-md-4">
                <div class="col-md-3" style="text-align: center;">
                    <label for="fromDate" style="margin: 0;">Từ: </label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="dateFilter" id="fromDate" min="01-01-1970" max="{{toDate | date:'dd-MM-yyyy'}}" required value={{fromDate}} />
                </div>
            </div>
            <div class="filter col-md-4">
                <div class="col-md-3" style="text-align: center;">
                    <label for="toDate" style="margin: 0;">Đến: </label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="dateFilter" id="toDate" min="01-01-1970" max="{{toDate | date:'dd-MM-yyyy'}}" required value={{toDate}} />
                </div>
            </div>
            <div class="filter col-md-4">
                <ngx-select id="qualityFilter" style="width: 200px; margin: 0 auto;" [formControl]="qualityControl" [items]="comboboxFilterData" [noAutoComplete]=true [defaultValue]="[0]"></ngx-select>
            </div>
        </div>
    </div>
    <div class="table-responsive table-light table-bordered">
        <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8" #exporter="matTableExporter">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên nhân viên </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Loại đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{qualify(element.score)}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Người gửi </th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="sendDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày gửi </th>
                <td mat-cell *matCellDef="let element"> {{element.sendDate | date: 'dd/MM/yyyy hh:mm'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="table-responsive" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>