td.mat-cell {
    border-color: #3b3b3b;
    /* row padding */
    padding: 16px 16px;
    /* row border */
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
}

td.mat-cell:first-child {
    /* row border */
    border-left: 1px solid #3b3b3b;
}

td.mat-cell:last-child {
    /* row border */
    border-right: 1px solid #3b3b3b;
}

table {
    /* row spacing / margin */
    border-spacing: 0 8px !important;
}

th.mat-header-cell {
    border-color: #3b3b3b;
    /* row padding */
    padding: 16px 16px;
    /* row border */
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
}

.btn-function {
    width: 120px;
    margin: 0 auto;
}

.dateFilter {
    text-align: right;
    width: 145px;
}

.filter {
    display: flex;
    align-items: center;
}

@media (min-width: 1360px) and (max-width: 1919px) {
    .col-left {
        width: 16.7%;
    }
    .col-right {
        width: 83.3%;
    }
    .col-mid {
        width: 0%;
    }
}

@media (min-width: 1919px) {
    .col-left {
        width: 33%;
    }
    .col-right {
        width: 42%;
    }
    .col-mid {
        width: 25%;
    }
}