<div class="control-section">
      <ejs-accumulationchart #pie width='500px' height='320px' id="reason-container-print" [title]="title" [legendSettings]="legendSettings" [tooltip]="tooltip" (load)='load($event)' [enableAnimation]= 'enableAnimation' [center]='center'>
          <e-accumulation-series-collection>
              <e-accumulation-series [dataSource]='data' xName='field' yName='count' [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="0%" radius="70%" [dataLabel]="dataLabel" [explode]='explode' explodeOffset='10%' [explodeIndex]='0' legendShape='Rectangle'>
              </e-accumulation-series>
          </e-accumulation-series-collection>
      </ejs-accumulationchart>
</div>