<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img id="avatar-side-bar" src="assets/images/faces/face1.jpg" alt="Ảnh đại diện" style="width:50px; height: 50px;">
                    </div>
                    <div class="text-wrapper" style="display:flex; align-items: center;">
                        <p class="profile-name">{{displayName}}</p>
                    </div>
                </div>
                <button class="btn btn-success btn-block" (click)="informationButtonClick()">Thông tin tài khoản 
          <i class="mdi mdi-information-outline icon-sm"></i>
        </button>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Admin/Dashboard']" routerLinkActive="active">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Bảng điểu khiển</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Employees/All']" routerLinkActive="active">
                <i class="menu-icon mdi mdi-view-list"></i>
                <span class="menu-title">Quản lý nhân viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Rate/All']" routerLinkActive="active">
                <i class="menu-icon mdi mdi-file-document-box"></i>
                <span class="menu-title">Quản lý đánh giá</span>
            </a>
        </li>
        <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Plan/Add']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-sitemap"></i>
        <span class="menu-title">Quản lý phòng ban</span>
      </a>
    </li> -->
        <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Role/Add']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">Progress bar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/User/Add']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">Carousal</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Assign/Role']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Tooltip</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Report/Member']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">Tabs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Report/Yearwise']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Dropdown</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Report/Monthwise']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-flag-outline"></i>
        <span class="menu-title">Breadcrumb</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Report/Renewal']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-loupe"></i>
        <span class="menu-title">Pagination</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-shield-outline"></i>
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <i class="menu-icon mdi mdi-altimeter"></i>
        <span class="menu-title">Accordion</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <i class="menu-icon mdi mdi-checkbox-multiple-blank-circle-outline"></i>
        <span class="menu-title">Badges</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li> -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/AdminLogout']" routerLinkActive="active">
                <i class="menu-icon mdi mdi-logout"></i>
                <span class="menu-title">Đăng xuất</span>
            </a>
        </li>
    </ul>
</nav>