<h4>Danh sách nhân viên</h4>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="example-header col-md-6" style="display: flex; align-items: center;">
      <mat-form-field class="col-md-8">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm nhân viên">
      </mat-form-field>

      <div class="col-md-4">
          <!-- <button class="btn btn-success btn-block" style="width: 100%;height: 100%;">
            Thêm mới
            <i class="mdi mdi-account-plus"></i>
            </button> -->
            <a class="btn btn-info" [routerLink]="['/Employees/Add']">
              Thêm mới
              <i class="mdi mdi-account-plus"></i>
            </a>
      </div>
    </div>

    <div class="table-responsive table-light table-bordered">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Điện thoại </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hộp thư </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <!-- Sex Column -->
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính </th>
          <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
        </ng-container>
        <!-- Birthday Column -->
        <ng-container matColumnDef="birthdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
          <td mat-cell *matCellDef="let element"> {{element.birthdate|date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- DepartmentName Column -->
        <ng-container matColumnDef="fieldName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lĩnh vực </th>
          <td mat-cell *matCellDef="let element"> {{element.fieldName}} </td>
        </ng-container>
        <!-- PositionName Column -->
        <ng-container matColumnDef="positionName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chức danh </th>
          <td mat-cell *matCellDef="let element"> {{element.positionName}} </td>
        </ng-container>
        <!-- EditAction Column -->
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef> Sửa </th>
          <td mat-cell *matCellDef="let element">
            <a class="fa fa-edit fa-fw" [routerLink]="['/Employees/Edit/',element.id]"></a>
          </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Xóa </th>
          <td mat-cell *matCellDef="let element">
            <a class="mdi mdi-delete text-danger icon-sm" (click)="Delete(element.id)"></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="table-responsive" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>