<h4>Thêm thông tin nhân viên</h4>

<hr>

<div class="panel panel-default">
    <div class="panel-heading">Thêm</div>
    <div class="panel-body" *ngIf="EmployeesForms">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit(buttonType)">
            <input type="hidden" name="ID" [(ngModel)]="EmployeesForms.ID" id="ID">
            <div class="row">
                <div class="col-md-3">
                    <label for="name">Họ và tên</label>
                    <br>
                    <input type="text" class="form-control" name="EmployeesName" [(ngModel)]="EmployeesForms.Name" maxlength="50" #refEmployeesName="ngModel" id="EmployeesName" required>
                    <div *ngIf="!refEmployeesName.valid  && (refEmployeesName.dirty || refEmployeesName.touched)" class="alert alert-danger">
                        <div [hidden]="!refEmployeesName.errors.required">
                            Tên phải được nhập
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="idField">Lĩnh vực</label>
                    <select required name="FieldID" #refFieldID="ngModel" class="form-control" [(ngModel)]="EmployeesForms.idField">
                        <option *ngFor="let fie of FieldDrop" [ngValue]="fie.id">
                            {{fie.name}}
                        </option>
                    </select>
                    <div *ngIf="!refFieldID.valid  && (refFieldID.dirty || refFieldID.touched)" class="alert alert-danger">
                        <div [hidden]="!refFieldID.errors.required">
                            Lĩnh vực không để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="name">Tài khoản</label>
                    <br>
                    <input type="text" class="form-control" name="EmployeesUsername" [(ngModel)]="EmployeesForms.Username" maxlength="16" #refEmployeesUsername="ngModel" id="EmployeesUsername" required>
                    <div *ngIf="!refEmployeesUsername.valid  && (refEmployeesUsername.dirty || refEmployeesUsername.touched)" class="alert alert-danger">
                        <div [hidden]="!refEmployeesUsername.errors.required">
                            Tên tài khoản bắt buộc
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="name">Mật khẩu</label>
                    <br>
                    <input type="password" class="form-control" name="EmployeesPassword" [(ngModel)]="EmployeesForms.Password" #refEmployeesPassword="ngModel" id="EmployeesPassword" required>
                    <div *ngIf="!refEmployeesPassword.valid  && (refEmployeesPassword.dirty||refEmployeesPassword.touched)" class="alert alert-danger">
                        <div [hidden]="!refEmployeesPassword.errors?.required">
                            Mật khẩu bắt buộc
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="align-items: center; display: flex;">
                    <div>
                        <label for="Birthday">Ngày sinh</label>
                        <br>
                        <input type="date" id="Birthdate" name="Birthdate" #refBirthdate="ngModel" [(ngModel)]="EmployeesForms.Birthdate" min="01-01-1970" max="{{currentDate | date:'dd-MM-yyyy'}}" required />
                        <div *ngIf="!refBirthdate.valid  && (refBirthdate.dirty || refBirthdate.touched)" class="alert alert-danger">
                            <div [hidden]="!refBirthdate.errors.required">
                                Ngày sinh bắt buộc
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="align-items: center; display: flex;">
                    <img [src]="EmployeesForms.AvaLink" id="Avatar" style='height: 80%; width: 80%;'>

                </div>
                <div class="col-md-1" style="align-items: center; display: flex;">
                    <label class="btn-success" style='height: 50%; width:100%; text-align: center;  border-radius: 12px; font-size: 0.8vw;'>
                        <input type="file" name="Ava" (change)="onFileSelected($event)" style='display: none;'>
                        Tải ảnh đại diện
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="PositionID">Chức danh</label>
                    <select required name="PositionID" #refPositionID="ngModel" class="form-control" [(ngModel)]="EmployeesForms.idPosition">
                        <option *ngFor="let pos of PositionDrop" [ngValue]="pos.ID">
                            {{pos.Name}}
                        </option>
                    </select>
                    <div *ngIf="!refPositionID.valid  && (refPositionID.dirty || refPositionID.touched)" class="alert alert-danger">
                        <div [hidden]="!refPositionID.errors.required">
                            Chức danh không để trống
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="idSex">Giới tính</label>
                    <select required name="SexID" #refSexID="ngModel" class="form-control" [(ngModel)]="EmployeesForms.idSex">
                        <option *ngFor="let sex of SexDrop" [ngValue]="sex.ID">
                            {{sex.Name}}
                        </option>
                    </select>
                    <div *ngIf="!refSexID.valid  && (refSexID.dirty || refSexID.touched)" class="alert alert-danger">
                        <div [hidden]="!refSexID.errors.required">
                            Giới tính không để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="phone">Số điện thoại</label>
                    <br>
                    <input type="text" class="form-control" name="EmployeesPhone" [(ngModel)]="EmployeesForms.Phone" maxlength="11" #EmployeesPhone="ngModel" id="EmployeesPhone" required>
                    <div *ngIf="!EmployeesPhone.valid  && (EmployeesPhone.dirty || EmployeesPhone.touched)" class="alert alert-danger">
                        <div [hidden]="!EmployeesPhone.errors.required">
                            Số điện thoại không để trống
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="Email">Hộp thư</label>
                    <br>
                    <input type="text" class="form-control" name="EmployeesEmail" [(ngModel)]="EmployeesForms.Email" maxlength="50" #EmployeesEmail="ngModel" id="EmployeesEmail" required>
                    <div *ngIf="!EmployeesEmail.valid  && (EmployeesEmail.dirty || EmployeesEmail.touched)" class="alert alert-danger">
                        <div [hidden]="!EmployeesEmail.errors.required">
                            Email không để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="Address">Địa chỉ</label>
                    <br>
                    <input type="text" class="form-control" name="EmployeesAddress" [(ngModel)]="EmployeesForms.Address" maxlength="50" #EmployeesAddress="ngModel" id="EmployeesAddress" required>
                    <div *ngIf="!EmployeesAddress.valid  && (EmployeesAddress.dirty || EmployeesAddress.touched)" class="alert alert-danger">
                        <div [hidden]="!EmployeesAddress.errors.required">
                            Địa chỉ không để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button id="submitButton" type="button" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success" (click)="onSubmit('Submit')">Thêm</button>
                    <a style="margin-left: 10px; margin-top:10px;" class="btn btn-info" [routerLink]="['/Employees/All']">Danh sách nhân viên </a>
                </div>
            </div>
        </form>
    </div>
</div>