td.mat-cell {
    border-color:#3b3b3b;
    /* row padding */
    padding: 16px 16px;
    /* row border */
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
   }
   
   td.mat-cell:first-child {
     /* row border */
     border-left: 1px solid #3b3b3b;
   }
   
   td.mat-cell:last-child {
     /* row border */
     border-right: 1px solid #3b3b3b;
   }
   
   table {
     /* row spacing / margin */
     border-spacing: 0 8px !important;
   } 
th.mat-header-cell{
    border-color:#3b3b3b;
    /* row padding */
    padding: 16px 16px;
    /* row border */
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
}